<% provide(:title, "Help | Contact Us")%>

<div id="overview_container">
	<% if yield_faq_displaymode == 0 %>
	<%= render 'static_pages/forms/faq' %>
	<% end %>
	<br/>
	<%= render 'static_pages/forms/contact_us' %>
</div>