<% provide(:title, "Videos")%>


<div class="cp_wholecontainer">
	<div class="cp_container_left">
		<table id="menu">
			<tr>
				<th class="spacer"></th>
				<th class="username">(PRI) PRED-5A Videos</th>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
	<div class="cp_container_right">

	</div>
</div>