<%= render 'admins/admin_subpages/tophalf' %>
	<%
		provide(:title,  " - carousel images")
	%>
		<div>
			<%= form_for @user, :url => users_path, :html => { :multipart => true } do |form| %>
				<%= form.file_field :avatar %>
			<% end %>
		</div>
<%= render 'admins/admin_subpages/bottomhalf' %>