<%
provide(:title, "Control panel - " + @user.name + " - Admin Panel ")
%>

<div class="cp_wholecontainer">
	<div class="cp_container_left">
		<%= render 'users/user_subpages/menu' %>
	</div>
	<div class="cp_container_right">
		<%= render 'admins/admin_subpages/menu' %>
		
		<div class="margin">