<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>MCCM Registration - Verification Required</h1>

		<p>please verify your account by following this link :<br/>
		<%= @key %>

		good day
		</p>
	</body>
</html>