<% 
if @page != nil
	provide(:title, "Control Panel > " + @user.name + " > " + @page.sub('_', ' ')) 
else
	provide(:title, "Control Panel > " + @user.name)
end
%>

<div class="cp_wholecontainer">
	<div class="cp_container_left">
		<%= render 'user_subpages/menu' %>
	</div>
	<div class="cp_container_right">
		<%= 
			if @page != nil 
				if File.exists?(Rails.root.to_s+"/app/views/user_subpages/_"+@page+".html.erb")
					render "user_subpages/"+@page
				else
					"This module does not exist. Please contact the administrator."
				end
			end 
		%>
	</div>
</div>