<% provide(:title, "Videos")%>

<div class="cp_wholecontainer">
	<div class="cp_container_left">
		<%= render 'videos/menu' %>
	</div>
	<div class="cp_container_right">
		<%=  #todo load Settings.Videosdecription here %>
	</div>
</div>