<% 
	provide(:title, "Control Panel - " + @user.name) 
%>

<div class="cp_wholecontainer">
	<div class="cp_container_left">
		<%= render 'users/user_subpages/menu' %>
	</div>
	<div class="cp_container_right">