/*.form_errors{
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	background-repeat: repeat-x;
	border: 1px solid #da9797;
	padding: 10px;
	background-color: #efd0d0;
	border-radius: 3px;
	text-shadow: none;
	color: #911;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 940px;
	margin-left: -14px;
}

.form_success{
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	background-repeat: repeat-x;
	border: 1px solid #97c1da;
	padding: 10px;
	background-color: #d0e3ef;
	border-radius: 3px;
	text-shadow: none;
	color: #264c72;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 940px;
	margin-left: -14px;
}

.form_notice{
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	background-repeat: repeat-x;
	border: 1px solid #97c1da;
	padding: 10px;
	background-color: #d0e3ef;
	border-radius: 3px;
	text-shadow: none;
	color: #264c72;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 940px;
	margin-left: -14px;
}*/

div.alert{
	width: 100%;
	display: table;
	margin-top: 20px;
	img#image{
		width: 40px;
		margin-right: 10px;
		vertical-align: center;
	}
	span.content{
		width: 100%;
		display: table-cell;
	}
	span.header{
		width: 100px;
		display: table-cell;
		padding-right: 10px;
	}
}