div.alert{
	width: 100%;
	display: table;
	margin-top: 20px;
	vertical-align: middle;
	img#image{
		width: 40px;
		margin-right: 10px;
		vertical-align: middle;
	}
	span.content{
		width: 100%;
		display: table-cell;
	}
	span.header{
		width: 100px;
		display: table-cell;
		padding-right: 10px;
	}
	button{
		float: none;
		vertical-align: middle;
		margin-top: 5px;
	}
}