// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.register_user_input{
  height: 40px;
  width: 170px;
  padding: 5px;
}

.login_form{
	margin-left: auto;
	margin-right: auto;
	width: 870px;
}

div.field_with_errors{
	border: 1px dotted red;
    width: inherit;
    display: inline-block;
}

.border{
   border: 3px solid #ddddde; 
}

#active_link{
    border-left: 2px solid #86a5e9;
}
table#menu{
    border: 1px solid #b0b1b1;
    width: 100%;
    border-spacing: 0px;
    border-collapse: separate;
}
table#menu th{
    height: 50px;
    color: #000000;
    background-image: -webkit-linear-gradient(bottom, rgb(207,230,230) 28%, rgb(227,235,254) 64%);
    background-color: rgb(207,230,230);
}

table#menu td{
    border-top: 1px solid #c2c2c3;

}
table th.spacer{
    width:20px;
}

.link{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: left;
}
.link:hover{
    background-color: #e3ebfe;
}
table td.picture{
    width: 50px;
}

table td.picture img{
    width: 50px;
    height: 50px;
}
table td.username{
    text-align: left;
}
.border{
   border: 3px solid #ddddde; 
}
#active_link{
    border-left: 2px solid #86a5e9;
}
#menu_user_logged_in_img{
    border: 1px solid #b0b1b1;
    width: 100%;
    border-spacing: 0px;
}

#menu_user_logged_in_img td{
    height: 190px;
    width: 190px;
    padding: 1px;
    border-spacing: 0px;
    display: block;
}

#menu_user_logged_in_img img{
    height: 190px;
    width: 190px
}

#menu_user_logged_in_info{
    border: none;
    width: 100%;
}

#menu_user_logged_in_info th{
    font-size: 25px;
    text-align: left;
}

#menu_user_logged_in_info td.username{
    font-size: 22px;
    color: #383f4e;
}

#menu_user_logged_in_info td.bullet{;
    width: 20px;
}

#menu_user_logged_in_info td.bullet img{;
    width: 20px;
    height: 20px;
}

#menu_user_logged_in_info td.description{
    font-size: 16px;
}

#menu_user_logged_in_stats{
    width: 100%;
    border-spacing: 0px
}

#menu_user_logged_in_stats th{
    font-size: 28px;
}

#menu_user_logged_in_stats td{
    font-size: 11px;
}

#menu_user_logged_out{
    border: 1px solid #b0b1b1;
    width: 100%;
    border-spacing: 0px;
}

#menu_user_logged_out td{
    height: 190px;
    width: 190px;
    padding: 1px;
    border-spacing: 0px;
    display: block;
}

.cp_container_left{
	width: 200px;
	margin-right: 20px;
	display: inline-block;
	vertical-align: top;
}

.cp_container_right{
	display: inline-block;
	width: 660px;
	text-align: left;
}


#overview_container{
	padding: 5px;
	div.slider{
		margin-left: 25px;
		padding: 5px;
		width: 95%;
		display: none;
		position: relative; 
		text-align: center;
		text-align: left;
	} 
}

#overview_header{
	padding: 5px;
	font-size: 18px;
	margin-top: 20px;
	-webkit-transition: background-color 0.6s ease;
	-moz-transition: background-color 0.6s ease;
	-o-transition: background-color 0.6s ease;
	transition: background-color 0.6s ease;
	display: inline-block;
	width:100%;
}

#overview_header_title{
    display: inline-block;
    float: right;
    font-size: 14px;
}

#overview_header img{
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

#overview_header img.arrow{
	width: 20px;
	height: 20px;
}

#overview_header:hover{
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: background-color 0.6s ease;
	-moz-transition: background-color 0.6s ease;
	-o-transition: background-color 0.6s ease;
	transition: background-color 0.6s ease;
}

table.admin_panel_links{
    width:100%;    
    td{ 
        width: 16.6%;
        border-left: 1px solid black;
        text-align: center;
        border-right: 1px solid black;
    }
    td:hover{
        background-color: #e3ebfe;
    }
    td div#active{
        background-color: #e3ebfe;
        text-decoration: underline;
    }
    hr{
    	margin: 2px;
    }
}

table.admin_panel_news_table{
    width: 100%;
    th{
        border-left: 1px solid black;
        padding-left: 5px;
        border-right: 1px solid black;
    }
    td{
        padding-left: 5px;
        border-bottom: 1px dotted gray;
    }
}

table.information_edit_form{
    width: 100%;
    td.label{
        width: 200px;
        color: black;
        font-size: 14px;
    }
    td.textfield{
        width: 100%;
        input{
            width: 100%;
        }
        select{
        	width: 100%;
        	padding: 10px;
        	font-size: 14px;
        }
        padding-bottom: 10px;
    }
    td.button{
        padding-top: 10px;
    }
}

div.margin{
    margin-top: 20px;
}

div.edit_form{
    width:100%;
    text-align: left;
}

input.edit_form_title{
    width: 620px;
}   