<script type="text/javascript">
	var carousel_images = new Array();
	carousel_images[0] = "/assets/carousel/1.jpg";
	carousel_images[1] = "/assets/carousel/2.jpg";
	carousel_images[2] = "/assets/carousel/3.jpg";
	carousel_images[3] = "/assets/carousel/4.jpg";
	
	$(window).load(function() {
		$("#photo_container").isc({
			imgArray: carousel_images,
			autoplay: true,
			autoplayTimer: 5000
		});	
	});
</script>

<div id="photo_container"></div> 