<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag("carousel/1.jpg") %></div>
    <div class="item"><%= image_tag("carousel/2.jpg") %></div>
    <div class="item"><%= image_tag("carousel/3.jpg") %></div>
    <div class="item"><%= image_tag("carousel/4.jpg") %></div>
  </div>
</div>