<%= javascript_tag do %>
	var carousel_images = new Array();	

	<%
		counter = 0
		yield_all_carousel_images.each do |img|%>

	carousel_images[<%= counter %>] = "<%= img.image.url(:original, timestamp: false) %>";
	<% counter +=1 %>
	<%end%>	
	
	$(window).load(function() {
		$("#photo_container").isc({
			imgArray: carousel_images,
			autoplay: true,
			autoplayTimer: 5000
		});	
	});
<% end %>

<% if yield_carousel_mode == 0 %>
	<div id="photo_container"></div> 
<% elsif yield_carousel_mode == 1 %>
<% elsif yield_carousel_mode == 2 &&  ishomepage? %>
	<div id="photo_container"></div> 
<% end %>