<footer class="footer">
  <small>
    <a href="#">some link</a>
    by Kirill Afanasenko
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   help_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><a href="#">just a link</a></li>
    </ul>
  </nav>
</footer>